services:
  postgres:
    image: postgres:latest@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
    env_file:
      - .env
    environment:
      CYBERSOURCE_MERCHANT_ID:
      CYBERSOURCE_ORG_ID:
      CYBERSOURCE_PROFILE:
      CYBERSOURCE_ACCESS:
      CYBERSOURCE_SECRET:
      CYBERSOURCE_PKCS12_DATA:
      CYBERSOURCE_PKCS12_PASSWORD:
