services:
  postgres:
    image: postgres:latest@sha256:c1f0abd909b477d6088c72e4cd6eb01ea525344caca1b58689ae884204369502
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  test:
    build: .
    command: env
    links:
      - postgres
    volumes:
      - .:/code
    env_file:
      - .env
    environment:
      CYBERSOURCE_MERCHANT_ID:
      CYBERSOURCE_ORG_ID:
      CYBERSOURCE_PROFILE:
      CYBERSOURCE_ACCESS:
      CYBERSOURCE_SECRET:
      CYBERSOURCE_PKCS12_DATA:
      CYBERSOURCE_PKCS12_PASSWORD:
