# Packages maintained by thelab
versiontag==1.1.0

# Test Reqs
beautifulsoup4==4.4.1
flake8===2.5.4
psycopg2==2.6.1
pyyaml==3.11
requests==2.9.1

# Pkg Reqs
python-dateutil==2.5.3
Django==1.9.6
django-oscar==1.2.1
django-oscar-api==1.0.4
django-oscar-api-checkout==0.1.5
lxml==3.6.4
